.gradient
{
    background: rgb(34,34,34);
    background: linear-gradient(90deg, rgba(34,34,34,1) 0%, rgba(95,122,140,0.85) 60%, rgba(95,122,140,0) 100%);
}

h1
{
    padding: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
    font-size: 60px;
    color: white;
}

.dolt{
    font-style: italic;
}

h2{
    margin-top: 30px;
}

.kepiras{
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #444;
}

.jobboszlop{
    background-color: #333 ;
    color: white;
}

.keret{
    border: 6px solid black;
    margin: 20px 0;
}

.lablec{
    padding: 10px;
    text-align: center;
    margin-top: 2px black dotted;
}

.felkover {
    font-weight: bold;
}